
#main
{
	width: 70%; 
	max-width:1000px; 
	margin-left: auto; 
	margin-right: auto; 
}

#mobileMain
{
	width: 85%; 
	/* max-height: 30%; */  
	margin-left: auto; 
	margin-right: auto; 
}



#heading
{
	text-align:center; 
	font-family: "Arial"; 
}



#mjpeg_dest
{
	width: 100%; 
}

#recordedVideo
{
	width: 100%; 
}

#videoRecording
{
	width: 100%; 
	height: 22px; 
	background-color: green; 
	text-align: center; 
	margin-top: 0px;
	margin-bottom: 0px; 
	padding-top:0px; 
	padding-bottom:0px; 
	
}

#videoWillBeStored
{
	width: 100%; 
	height: 22px; 
	background-color: red; 
	text-align: center; 
	margin-top: 0px;
	margin-bottom: 5px; 
	padding-top:0px; 
	padding-bottom:0px; 
}




#bigButtons
{
	text-align: center; 
}

.bigButtonDiv
{
	width: 25%; 
	height: 100%; 
	float: left; 
	text-align: center; 

}

.smallButton
{
	width:100%; 
	height: 40px; 
	color:black; 
	font-size: 25px; 
}
.mediumButton
{
	width:100%; 
	height: 60px; 
	color:black; 
	font-size: 25px; 

}

.bigButton
{
	width:100%; 
	height: 120px; 
	color:black; 
	font-size: 25px; 


}

#mobileFeed
{

}




